<div class="card">
  <!-- <div class="card-header">
    <a href="/payment/create" class="btn btn-primary"><i class="nav-icon far fa-plus-square mr-2"></i>Add</a>
  </div> -->

  <div class="card-body">
    <table id="example2" class="table table-bordered table-striped table-hover w-100">
      <thead>
        <tr>
          <th>No.</th>
          <th>Payment</th>
          <th>Bank</th>
          <th>Status</th>
          <th>Time Added</th>
          <th>Time Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
    </table>
  </div>

</div>